/*  REGLAGES GENERAUX................................................. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* HEADER BARRE NAVIGATION............................................. */
/* .................................................................... */

.header-site {
  height: 120px;
  background: url(.//PICTURES/FondEcranBoisFoncé.webp);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(31, 17, 5, 0.908);
  display: flex;
  align-items: center;
  position: sticky;
  border-bottom: 2px solid rgba(255, 225, 196, 0.156);

}

.barre-nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 0px 50px;
  
}

.nav-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nav-logo-container:hover {
  transition: 0.2s all ease-in-out;
}

.nav-logo-container a {
  text-decoration: none;
  color: rgba(251, 155, 65, 0.712);
  text-shadow: 0px 0px 10px rgb(191, 126, 60);
  z-index: 2;
  font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-logo {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 50% 45%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23ae6b00' d='m495.145 15.451l-178.215.205s7.918 25.215 15.652 35.63c13.155 17.712 67.295 2.752 59.79 35.714h55.4c6.995-6.98 14.212-15.862 15.064-23.44c1.035-9.207-15.175-16.126-12.29-24.931c5.22-15.92 44.599-23.178 44.599-23.178M256 28.311L30.455 238.82l32.666 21.777L256 83.79l192.879 176.807l32.666-21.778zM393 105v26.555l46 42.933V105zm-137 3.209L209.318 151h93.364zM189.682 169l-32.727 30H279v-30zM297 169v30h58.045l-32.727-30zm-159.682 48l-34.564 31.684l64.246-.288V217zM185 217v31.316l222.76-.994L374.682 217zm242.303 48.236L83.02 266.773l-18.141 16.63l-.932-.622A31.6 31.6 0 0 1 60.737 295h390.526a31.6 31.6 0 0 1-3.211-12.219l-.932.621zM32 267c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14m448 0c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14M59.656 313a31.66 31.66 0 0 1 1.08 30H103v-30zM121 313v78h46v-78zm64 0v78h46v-78zm64 0v30h30v-30zm48 0v174h94V313zm112 0v30h42.264a31.66 31.66 0 0 1 1.08-30zm-377 2c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14m448 0c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14M59.656 361a31.66 31.66 0 0 1 1.08 30H103v-30zM249 361v30h30v-30zm160 0v30h42.264a31.66 31.66 0 0 1 1.08-30zm-377 2c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14m448 0c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14m-128 28h22v18h-22zM59.656 409a31.66 31.66 0 0 1 1.08 30H279v-30zM409 409v30h42.264a31.66 31.66 0 0 1 1.08-30zm-377 2c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14m448 0c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14M32 457c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14m28.736 0a31.66 31.66 0 0 1-1.08 30H87v-30zM105 457v30h174v-30zm304 0v30h43.344a31.66 31.66 0 0 1-1.08-30zm71 0c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14'/%3E%3C/svg%3E");
  box-shadow: 0px 0px 10px 0px rgba(191, 125, 60, 0.642);
  z-index: 1;
  border-radius: 50%;
  border: 2px solid rgb(191, 126, 60);
  overflow: hidden;
  background-color: rgba(63, 42, 20, 0.633);
}

.barre-nav ul {
  display: flex;
  gap: 60px;
  margin-right: 70px;
}

.barre-nav ul li {
  list-style-type: none;
  text-decoration: none;
}

.barre-nav ul li a {
  text-decoration: none;
  font-size: 23px;
  color: rgba(255, 225, 196, 0.934);
  font-family: "Cormorant Unicase", sans-serif;
  letter-spacing: 1px;
}

.barre-nav ul li a:hover {
  color: rgba(251, 155, 65, 0.905);
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  text-decoration-style: dashed;
  text-decoration-color: rgba(251, 155, 65, 0.434);
  transition: 0.2s all ease-in-out;
}

.nav-cta {
    background: url(.//PICTURES/rondinsBois.webp);
    background-size: contain;
    height: 50px;
    width: 200px;
    padding: 5px 0px;
    background-color: rgba(30, 12, 1, 0.94);
    background-blend-mode: darken;
    color: rgba(251, 155, 65, 0.905);
    border-radius: 25px;
    font-size: 17px;
    border: 2px solid rgba(191, 125, 60, 0.658);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Cormorant Unicase", sans-serif;
}

.nav-cta:hover {
   transition: 0.1s ease-in;
  box-shadow: 0px 0px 20px 0px rgba(251, 155, 65, 0.612);
}

/* MAIN SECTION................................................. */
/* ............................................................. */

.page-content {
  background-color: black;
}

.hero-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-page {
  height: 100vh;
  background: url(.//PICTURES/ArtisanBois3.webp) no-repeat;
  background-position: center;
  background-size: 100%;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.608);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.hero-page h1 {
  font-size: 100px;
  color: rgba(251, 155, 65, 0.905);
  text-shadow: -1px -1px 0 rgb(54, 31, 7), 1px -1px 0  rgb(54, 31, 7), -4px 4px 0  rgb(54, 31, 7),
    1px 1px 0  rgb(54, 31, 7);
    z-index: 2;
    margin-top: 130px;
}

.hero-cont .hero-para {

  width: 100%;
  font-size: 25px;
  color: white;
  text-align: center;
  font-family: "Cormorant Unicase", sans-serif;
  font-style: italic;
  z-index: 2;
}


.nav-logo-hero {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 50% 45%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23ae6b00' d='m495.145 15.451l-178.215.205s7.918 25.215 15.652 35.63c13.155 17.712 67.295 2.752 59.79 35.714h55.4c6.995-6.98 14.212-15.862 15.064-23.44c1.035-9.207-15.175-16.126-12.29-24.931c5.22-15.92 44.599-23.178 44.599-23.178M256 28.311L30.455 238.82l32.666 21.777L256 83.79l192.879 176.807l32.666-21.778zM393 105v26.555l46 42.933V105zm-137 3.209L209.318 151h93.364zM189.682 169l-32.727 30H279v-30zM297 169v30h58.045l-32.727-30zm-159.682 48l-34.564 31.684l64.246-.288V217zM185 217v31.316l222.76-.994L374.682 217zm242.303 48.236L83.02 266.773l-18.141 16.63l-.932-.622A31.6 31.6 0 0 1 60.737 295h390.526a31.6 31.6 0 0 1-3.211-12.219l-.932.621zM32 267c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14m448 0c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14M59.656 313a31.66 31.66 0 0 1 1.08 30H103v-30zM121 313v78h46v-78zm64 0v78h46v-78zm64 0v30h30v-30zm48 0v174h94V313zm112 0v30h42.264a31.66 31.66 0 0 1 1.08-30zm-377 2c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14m448 0c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14M59.656 361a31.66 31.66 0 0 1 1.08 30H103v-30zM249 361v30h30v-30zm160 0v30h42.264a31.66 31.66 0 0 1 1.08-30zm-377 2c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14m448 0c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14m-128 28h22v18h-22zM59.656 409a31.66 31.66 0 0 1 1.08 30H279v-30zM409 409v30h42.264a31.66 31.66 0 0 1 1.08-30zm-377 2c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14m448 0c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14M32 457c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14m28.736 0a31.66 31.66 0 0 1-1.08 30H87v-30zM105 457v30h174v-30zm304 0v30h43.344a31.66 31.66 0 0 1-1.08-30zm71 0c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14'/%3E%3C/svg%3E");
  box-shadow: 0px 0px 10px 0px rgba(251, 155, 65, 0.905);
  z-index: 1;
  border-radius: 50%;
  border: 2px solid rgba(251, 155, 65, 0.905);
  overflow: hidden;
  background-color: rgba(31, 17, 3, 0.947);
  position: relative;
  bottom: 30%;
  opacity: 0.6;
}

.hero-sign {
  margin: 0;
  position: relative;
  bottom: 40%;
  z-index: 1;
  color: rgba(255, 225, 196, 0.934);
  font-size: 45px;
  font-style: italic;
  left: 25%;
  font-family: "Homemade Apple", sans-serif;
  display: inline-block;
  letter-spacing: 4px;
    text-shadow: -1px -1px 0 rgb(54, 31, 7), 1px -1px 0  rgb(54, 31, 7), -1px 1px 0  rgb(54, 31, 7),
    1px 1px 0  rgb(54, 31, 7);
}

/* CATEGORIES................................................... */
/* ............................................................. */


.categories {
  background: url(.//PICTURES/FondEcranBoisFoncé.webp);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(31, 17, 5, 0.908);
  display: flex;
  flex-direction: column;
  margin: 0px;
  min-height: 600px;
}

.cat-intro {
  color: rgba(255, 225, 196, 0.934);
  width: 100%;
  height: 100px;
  background: url(.//PICTURES/FondEcranBois2.webp);
  background-blend-mode: darken;
  background-color: rgba(54, 33, 0, 0.899);
  background-position: center;
  background-size: cover;
    font-family: "Cormorant Unicase", sans-serif;
  font-size: 23px;
  padding: 0px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  border: 2px dotted rgba(255, 225, 196, 0.934);
}

.cat-item-list {
  display: flex;
  background: url(.//PICTURES/FondEcranBois4.webp);
  background-size: cover;
  background-position: center;
  padding: 50px;
  gap: 30px;
 
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.79);
}

.cti-left {
  display: flex;
  flex-direction: column;
}

.cat-item {
  height: 60%;
  display: flex;
  border-radius: 10px;
  align-items: center;
  gap: 0px;
  width: 700px;
  border-radius: 10px;

  padding: 0px 0px;
  height: 150px;
}


.ci-right {
  padding: 0px 30px;
    gap: 20px;
    display: flex;
    align-items: center;
    line-height: 1.6em;
    justify-content: space-between;
}

.ci-title {
  color: rgba(255, 225, 196, 0.934);
  font-size: 22px;
  padding: 20px 10px;
  border: 2px dotted rgba(255, 225, 196, 0.934);
  border-radius: 10px;
  font-weight: bold;
  width: 35%;
  text-align: center;
}

.ci-texte {
  color: rgba(255, 225, 196, 0.934);
  width: 80%;
  font-family: "Cormorant Unicase", sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 0px;
}




















/* FOOTER PAGE.................................................. */
/* ............................................................. */


.footer-site {
  height: 400px;
  background: url(.//PICTURES/rondinsBois.webp);
  background-position: center;
  background-size: contain;
  background-blend-mode: darken;
  background-color: rgba(31, 17, 5, 0.823);
  display: flex;
  flex-direction: column;
 

  border-top: 2px solid rgba(255, 225, 196, 0.156);
}

.footer-top {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgba(255, 225, 196, 0.156);
   padding: 13px 30px;
   align-items: center;
   gap: 60px;
   height: 50px;
}

.foot-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

}

.foot-logo {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 50% 45%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23ae6b00' d='m495.145 15.451l-178.215.205s7.918 25.215 15.652 35.63c13.155 17.712 67.295 2.752 59.79 35.714h55.4c6.995-6.98 14.212-15.862 15.064-23.44c1.035-9.207-15.175-16.126-12.29-24.931c5.22-15.92 44.599-23.178 44.599-23.178M256 28.311L30.455 238.82l32.666 21.777L256 83.79l192.879 176.807l32.666-21.778zM393 105v26.555l46 42.933V105zm-137 3.209L209.318 151h93.364zM189.682 169l-32.727 30H279v-30zM297 169v30h58.045l-32.727-30zm-159.682 48l-34.564 31.684l64.246-.288V217zM185 217v31.316l222.76-.994L374.682 217zm242.303 48.236L83.02 266.773l-18.141 16.63l-.932-.622A31.6 31.6 0 0 1 60.737 295h390.526a31.6 31.6 0 0 1-3.211-12.219l-.932.621zM32 267c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14m448 0c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14M59.656 313a31.66 31.66 0 0 1 1.08 30H103v-30zM121 313v78h46v-78zm64 0v78h46v-78zm64 0v30h30v-30zm48 0v174h94V313zm112 0v30h42.264a31.66 31.66 0 0 1 1.08-30zm-377 2c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14m448 0c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14M59.656 361a31.66 31.66 0 0 1 1.08 30H103v-30zM249 361v30h30v-30zm160 0v30h42.264a31.66 31.66 0 0 1 1.08-30zm-377 2c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14m448 0c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14m-128 28h22v18h-22zM59.656 409a31.66 31.66 0 0 1 1.08 30H279v-30zM409 409v30h42.264a31.66 31.66 0 0 1 1.08-30zm-377 2c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14m448 0c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14M32 457c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14m28.736 0a31.66 31.66 0 0 1-1.08 30H87v-30zM105 457v30h174v-30zm304 0v30h43.344a31.66 31.66 0 0 1-1.08-30zm71 0c-7.839 0-14 6.161-14 14s6.161 14 14 14s14-6.161 14-14s-6.161-14-14-14'/%3E%3C/svg%3E");
  box-shadow: 0px 0px 10px 0px rgba(191, 125, 60, 0.642);
  z-index: 1;
  border-radius: 50%;
  border: 2px solid rgb(191, 126, 60);
  overflow: hidden;
  background-color: rgba(63, 42, 20, 0.633);
   
}

.foot-logo-container a {
  text-decoration: none;
  color: rgba(251, 155, 65, 0.712);
  text-shadow: 0px 0px 10px rgb(191, 126, 60);
  z-index: 2;
  font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

.foot-top-content {
  color: rgba(255, 225, 196, 0.934);
  font-size: 17px;
  font-style: italic;
   font-family: "Cormorant Unicase", sans-serif;
  letter-spacing: 1px;
}

.footer-center{
  display: flex;
  padding: 30px 0px 0px 0px;
  justify-content: center;
  gap: 50px;
  height: 300px;
}

.foot-center-item {
  color: rgba(255, 225, 196, 0.934);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  align-items: center;
   font-family: "Cormorant Unicase", sans-serif;

}

.foot-center-item h3 {
  height: 50px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border: 2px dotted rgb(54, 31, 7);
  background-color: rgba(251, 155, 65, 0.788);
  color: rgb(54, 31, 7);
}

.foot-center-item ul {

  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
  gap: 10px;
}

.foot-center-item ul li {
  list-style-type: none;
  font-size: 17px;
  line-height: 1.6em;
}

.foot-center-item ul li span {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.foot-center-item ul li .horaires {
  font-size: 30px;
  color: rgba(251, 155, 65, 0.905);
}

.foot-center-item ul li a {
  color: rgba(255, 225, 196, 0.934);
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2px;
}

.foot-center-item ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  transition: 0.2 all ease-in-out;
  color: rgba(251, 155, 65, 0.905);
}

#mentions {
  margin-top: 35px;
}

.footer-bottom{
  height: 50px;
  border-top: 1px solid rgba(251, 155, 65, 0.248);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bottom p {
  color: rgba(255, 225, 196, 0.934);
  letter-spacing: 1px;
  opacity: 0.8;
}

.footer-bottom p strong {
  color: rgba(251, 155, 65, 0.905);
  font-weight: bold;
}





/* ANIMATIONS................................................... */
/* ............................................................. */


.nav-logo {
  animation: heartbeat 3s infinite;
}

/* KEYFRAMES.................................................... */
/* ............................................................. */


@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  0% {
    transform: scale(1);
  }

}

